Django==1.3
Fabric==1.2.0
clonedigger==1.1.0
coverage==3.5
django-nose==0.1.3
figleaf==0.6.1
ipython==0.10.2
lxml==2.3
mechanize==0.2.5
nose==1.1.1
paramiko==1.7.7.1
pep8==0.6.1
git+git://github.com/unpluggd/pinocchio.git
pycrypto==2.3
pyflakes==0.4.0
pytz==2011h
rdflib==3.1.0
selenium==2.1.0
specloud==0.4.4
splinter==0.2
wsgiref==0.1.2
zope.event==3.5.0-1
zope.interface==3.6.4
zope.schema==3.8.0
zope.testbrowser==4.0.2
pylint==0.24.0
