{% extends "base.html" %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/index.css" type="text/css" media="screen" charset="utf-8"/>
{% endblock %}

{% block header %}
<div class="header">
    <h1>Manouche Us</h1>
</div>
{% endblock %}

{% block menu %}
<div class="menu">
    <ul>
        <li><a href="#">about</a></li>
        <li><a href="#">contribute</a></li>
    </ul>
</div>
{% endblock %}

{% block content %}
<div class="content">
    <div class="row">
        <div class="grid_12 main">
            <div class="grid_6 column description">
                <h2>Manouche your project!</h2>
                <p>Your project is great, rigth? Your layout is awesome? But your code, it's ok? Sure?</p>
                <p>So I challenge you to submit it to more rigorous analysis and see if you tell the truth!</p>
            </div>
            <div class="grid_6 column submit-project">
                <form action="/" method="post" accept-charset="utf-8">
                    {% csrf_token %}
                    {{ form.url }}
                    <input type="submit" value="Manouche us"/>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
<div class="footer">
</div>
{% endblock %}
