<html>
    <head>
        <meta charset="utf-8">
        <title>Manouche Us | A Django Best Pratices Analisys</title>
        {% block css %}
            <link rel="stylesheet" href="{{ STATIC_URL }}css/grid.css" type="text/css" media="screen" charset="utf-8"/>
            <link rel="stylesheet" href="{{ STATIC_URL }}css/reset-min.css" type="text/css" media="screen" charset="utf-8"/>
        {% endblock %}
    </head>
    <body>
        {% block header %}
        {% endblock %}

        {% block menu %}
        {% endblock %}

        {% block content %}
        {% endblock %}

        {% block footer %}
        {% endblock %}

        {% block js_bottom %}
        {% endblock %}
    </body>
</html>
