{% extends "base.html" %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/wait.css" type="text/css" media="screen" charset="utf-8"/>
{% endblock %}

{% block content %}
    <div class="monkeys">
        <h2>Trained monkeys are analyzing your code, just relax!</h2>

        <div id="monkey-image"></div>
    </div>
{% endblock %}

{% block js_bottom %}
    {{ block.super }}
    <script type="text/javascript" language="javascript" charset="utf-8">
    //<![CDATA[
        var request = new Request({
                    url: "{% url analyze 2 %}",
                });
        request.send();
    //]]>
    </script>
{% endblock %}
