body {
    font-family: Helvetica, Arial;
}

.header {
    height: 130px;
    border-bottom: 1px solid black;
    background-color: #76C2C1;
}

.header h1 {
    font-weight: normal;
    font-size: 30px;
    margin-left: 70px;
    padding-top: 45px;
    color: #505050;
}

.menu {
    background-color: #BAE3E2;
    height: 50px;
    border-bottom: 1px solid black;
}

.menu ul {
    margin-left: 70px;
}

.menu ul li {
    float: left;
    padding: 0 20px;
    margin-top: 15px;
    border-right: 1px solid black;
}

.menu ul li a:hover {
    text-decoration: underline;
}

.menu ul li a {
    color: #404040;
    font-size: 15px;
    text-decoration: none
}

.content {
    background-color: #E1E6E6;
}

.content .main {
    height: 400px;
}

.content .main .description {
    float: left;
}

.content .main .submit-project {
    float: right;
    padding-top: 100px;
}

.content .main .submit-project input[type="text"] {
    border: 1px solid #C7C7C7;
    color: #747472;
    background-color: white;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    width: 350px;
    height: 28px;
    padding: 5px 7px;
    outline: 0;
    font-size: 13px;
    display: block;
}

.content .main .submit-project input[type="submit"] {
    border: none;
    background-color: #76C2C1;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    width: 150px;
    height: 30px;
    margin-top: 10px;
    margin-right: 110px;
    float: right;
}

.footer {
    height: 150px;
    border-top: 1px solid black;
    background-color: #1E8A88;
}
